# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/

# NuGet packages
*.nupkg
*.snupkg
packages/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log

# Dotnet specific files
*.vs/