@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>NetChat is a chat application allows communication between multiple users that stores message history and login credentials in a local SQLite database.</b>
    <br /><br />
    <b>1. Data Collected:</b>
    Personal Data: We collect your username and login credentials for authentication purposes.<br />
    Message Data: We store messages you send within the app to facilitate chat functionality, including the time the message was entered.
    <br />
    <b>2. How We Use Your Data:</b>
    Your data is used solely to provide and improve the chat functionality. Login credentials allow you to authenticate your account, while message data is used for chat history purposes.
    <br />
    <b>3. Data Storage and Security:</b>
    All data is stored locally in an SQLite database on your machine/server. We take reasonable measures to protect this data, but we recommend you ensure your machine/server is secure.
    <br />
    <b>4. User Rights:</b>
    You have the right to access and delete any data you have stored in the application.
    You can delete your account and messages by performing deletion actions on the sqlite database you have setup for connection to the application.
    <br />
    <b>5. Data Sharing:</b>
    We do not share your data with third parties. All data remains private and is only accessible to users with appropriate credentials.
    <br />
    <b>6. Changes to This Policy:</b>
    Policy may be updated in the future. Any significant changes will be posted on our GitHub page or within the app.
</p>
